<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">

    <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="./css/course.css" />
</head>

<body>
        <section class="section all-products" id="products">
            <div class="product-center container">
                <div class="product">
                    <div class="product-header">
                        <img src="./images/pic1.jpg" alt="">
                    </div>
                    <div class="product-footer">
                        <a href="product-details.html">
                            <h2>Boy’s T-Shirt</h2>
                        </a>
                    </div>
                </div>
                <div class="product">
                    <div class="product-header">
                        <img src="./images/pic2.jpg" alt="">
                    </div>
                    <div class="product-footer">
                        <h2>Boy’s T-Shirt</h2>
                    </div>
                </div>
                <div class="product">
                    <div class="product-header">
                        <img src="./images/pic3.jpg" alt="">
                    </div>
                    <div class="product-footer">
                        <h2>Boy’s T-Shirt</h2>
                    </div>
                </div>
            </div>
        </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>